<div class="container-xl">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000">
			<!-- Carousel indicators -->
			
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner"	>
				<div class="carousel-item "    *ngFor="let film of carousel; let i=index" [ngClass]="{'active': i==0, '': i!==0}" >
					<div class="row" *ngFor="let items of film" >
						<div class="col-sm-4" *ngFor="let item of items">
							<div class="thumb-wrapper">
							
								<div class="img-box">
									<div class="film__Title">{{item.name.toUpperCase()}}</div>
									<div class="label">ASSISTIR GRÁTIS</div>
									<img src="assets/{{item.image}}" class="img-fluid" alt="">
								</div>
												
							</div>
						</div>
					
					</div>
				</div>
			
			
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>