<div class="home__container">
    <h1>Escolha seu plano Multitelas</h1>
    <h2>O   QUE ESTÁ INCLUSO?</h2>
<div class="home-content">
    <app-card-plan
        timePlan="3 meses"
    pricePlan="R$ 74,90"
    dividePrice="Igual a R$ 24,97 por mês"
    btnText="ESCOLHA O PLANO TRIMESTRAL"
    ></app-card-plan>
    <app-card-plan 
    economize="ECONOMIZE 5 MESES"
   
    timePlan="12 meses"
    pricePlan="R$ 239,90"
    dividePrice="Igual a R$ 19,99 por mês"
    btnText="ESCOLHA O PLANO ANUAL"
    ></app-card-plan>


    <app-card-plan 
    timePlan="1 mês"
    pricePlan="R$ 34,90"
    dividePrice=""
    btnText="ESCOLHA O PLANO MENSAL"
    ></app-card-plan>
</div>

<app-components></app-components>

</div>
